<html>
<body>
<div>
    <h2 align="left"><p>Student ID: 1001861876</p></h2><br/>
   <h2 align="left"><p>Amrutha Kenchanagowdra</p></h2><br/>
    <H2>Add or Update the image</H2>
  <p>
  <form action="/submitimage" method="POST" enctype="multipart/form-data">

    Current Image is: <img src="/static/{{isetdetails}}" width="80px" height="90px" alt="image unavailable"/><br/><br/>
    update image of <input type="text" name="imgguy" id="codew31fe25e" /><br/><br/>

     <label for="myfile">Select a file:</label>
     <input type="file" id="myfile" name="myfile"><br/>
     <input type="submit" value="Submit"><br/><br/>
  </form>
  </p>
  </div><br/><hr>
  </body>
  </html>