<html>
<body>
<div>
    <h1><center>Welcome to my WebApp</center></h1>

    <h2 align="left"><p>Student ID: 1001822855</p></h2>
    <h2 align="left"><p>Name: Vijetha Shenoy Badiadka</p></h2><br/>
    <ul>
        <li> <a href="templates/page1.html">NAME</a></li>
        <li> <a href="templates/page2.html">PICTURE</a></li>
    </ul>

    <H2>Add or Update the image</H2>

  </div><br/><hr>

  <form class="" action="data" method="POST">
      <input type="file" name="csvfile" value="">
      <input type="submit" name="csvfile" value="submit"><br>
  </form>

  </body>
  </html>