<html>
<body>
<div>
    <h1><center>Welcome to my WebApp</center></h1>

    <h2 align="left"><p>Student ID: 1001822855</p></h2><br/>
    <h2 align="left"><p>Name: Vijetha Shenoy Badiadka</p></h2><br/>
    <ul>
        <li> <a href="./page1.html">NAME</a></li>
        <li> <a href="./page2.html">PICTURE</a></li>
    </ul>

    <H2>Add or Update the image</H2>

  </div><br/><hr>




  <div>

  {%if setimage %}
    <img src="/static/{{setimage}}" alt="User Image unavailable" width="300" height="400">
  {%endif%}

  <div>
    <p>
      <form action="/range" method="get">
         range1<input type="text" name="frange1" id="codew31ee23e" />
         range2<input type="text" name="frange2" id="codew31ee23e" />
       <input type="submit" value="Submit"><br/><br/>
     </form>
     </p>
  </div>

</div>


<div>
  <p>
  <form action="/editgetname" method="get">
    Edit the deatils of <input type="text" name="egetname" id="codew31ee25e" />
  <input type="submit" value="Submit"><br/><br/>
  {%if message %}
  {{message}}
  {%endif%}
  
  </form>
  </p>
  </div><br/><hr>


  <div>
    <p>
    <form action="/uploadimg" method="get">
      add or update image of <input type="text" name="imguser" id="codew31ee25e" />
    <input type="submit" value="Submit"><br/><br/>
     {%if imessage %}
      {{message}}
    {%endif%}
    </form>
    </p>
    </div><br/><hr>



  </body>
  </html>