<html>
<body>
<div>
    Page 1
    
    <h2 align="left"><p>Student ID: 1001822855</p></h2>
    <h2 align="left"><p>Name: Vijetha Shenoy Badiadka</p></h2><br/>

    <p>
        <form action="/submitimage" method="POST" enctype="multipart/form-data">
      
          Current Image is: <br/><br/>
          update image of <input type="text" name="imgguy" /><br/><br/>
      
           <label for="myfile">Select a file:</label>
           <input type="file" id="myfile" name="myfile"><br/>
           <input type="submit" value="Submit"><br/><br/>
        </form>
        </p>

  </div><br/><hr>
  </body>
  </html>